body {
  background-color: white;
  overflow-x: hidden;
}

.blockScreen {
  background-color: rgba(0, 0, 0, 0.45);
  position: fixed;
  width: 110%;
  height: 110%;
  left: -8px;
  top: -8px;
}

.menuHeaderText {
  font-size: 20px;
  font-weight: bold;
}

.menuDiv {
  margin-top: 25px;
}

.topMenuLine {
  display: flex;
}

.topMenuHolder {
  width: 50%;
  margin: 0;
}

.dangerBTN {
  background-color: red;
  color: white;
}

#topBar {
  background-color: rgb(34, 18, 95);
  -webkit-box-shadow: 5px 10px 22px 3px #000000;
  box-shadow: 5px 10px 22px 3px #000000;
  z-index: 10000000000000000;
  width: 95%;
  padding: 5px;
  margin-bottom: 40px;
}

.topBtn {
  height: 50px;
  background-color: rgb(50, 50, 170);
  color: white;
  font-size: 25px;
}

.topBtn:hover {
  height: 50px;
  background-color: rgb(90, 204, 124);
  color: white;
  font-size: 25px;
}

.topRedoUndoBtn {
  font-size: 25px;
  height: 50px;
  background-color: #00a0ff;
}

.topRedoUndoBtn:hover {
  font-size: 25px;
  height: 50px;
  background-color: rgb(90, 204, 124);
}

.topRedoUndoBtn:disabled {
  font-size: 25px;
  height: 50px;
  background-color: #777777;
}

.menu {
  top: 15%;
  left: 30%;
  position: fixed;
  height: 70%;
  width: 40%;
  background-color: white;
  border: 3px solid rgb(0, 0, 0);
  padding: 10px;
}

#mainWrapper {
  display: flex;
  background-color: white;
}

.side {
  width: 49%;
  float: left;
  margin-left: 10px;
}

#div2d, #div3d {
  background-color: white;
  width: 100%;
  height: 65%;
  padding-bottom: 5px;
}

.buttons3d {
  margin-top: 20px;
  padding-bottom: 14px;
}

.canvasTitle {
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  font-style: normal;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 15px;
  padding-top: 5px;
}

#canvas2d, #canvas3d {
  /*set width/height in canvas tag because the canvas size is NOT the display canvas size*/
  /*https://stackoverflow.com/questions/7169879/relatively-sizing-html-canvas*/
  display: block;
  background-color: var(--canvas2dBackround);
  border: 3px solid rgb(255, 0, 0);
  margin-left: 2%;
  margin-bottom: 5px;
  width: 45vw;
  height: 50vh;
}

.textholder {
  margin-top: 10px;
  margin-left: 5px;
  background-color: rgb(154, 219, 228);
  width: 100%;
}

.MLtext {
  padding: 5px;
  white-space: pre-line; /*make \n and regular new lines in code work*/
}

.textImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
