/* Buttons that open the rows below */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-left: 15px;
}
.active,
.collapsible:hover {
  background-color: #ccc;
}
/* ######################################################################################## */
/* button-rows below the canvas */
.buttonRow {
  margin-left: 2%;
  padding-top: 5px;
  padding-bottom: 5px;
  display: none;
  background-color: rgb(20, 50, 205);
  /*z-index: 100;*/
}

.btnCanvasOption {
  margin-left: 5px;
  padding: 12px 16px;
  margin-bottom: 5px;
  font-size: 16px;
  cursor: pointer; /* Mouse pointer on hover */
  border: none;
  background-color: blue;
  color: white;
}

.btnCanvasOption:hover {
  background-color: rgb(50, 50, 255);
}

.btn {
  margin-left: 5px;
  background-color: DodgerBlue;
  border: none;
  color: white; /* White text */
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer; /* Mouse pointer on hover */
}

.btnAct {
  /*button of active operation is highlighted */
  margin-left: 5px;
  background-color: green;
  border: none;
  color: white; /* White text */
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer; /* Mouse pointer on hover */
}

.btn:hover {
  background-color: RoyalBlue;
}

#buttonHover {
  position: absolute;
  margin: 0px auto;
  /*width: 200px;
    height: 150px;*/
  font-family: verdana;
  font-size: 13px;
  padding: 10px;
  background-color: rgb(240, 240, 240);
  border: 2px solid grey;
  z-index: 100000000000000001;
  display: none;
  pointer-events: none; /*ignore all interaction and pretend this isnt here*/
}
