/* popup of the main buttons when you rightclick */
#buttonPopup {
  display: none;
  position: absolute;
  padding: 15px;
  border: 2px solid black;
  background-color: white;
  border-radius: 5px;
  width: auto;
}

.iconXBtn {
  width: fit-content;
  height: fit-content;
  padding: 7px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.iconXBtn:hover {
  width: fit-content;
  height: fit-content;
  padding: 7px;
  background-color: red;
}
/* ######################################################################################## */
/* popup when you choose a point of interest */
#POIexplanationPopUp {
  padding: 15px;
  display: none;
  position: absolute;
  background-color: blanchedalmond;
  border: 1px solid black;
  max-width: 50%;
  overflow-wrap: break-word;
  overflow: auto;
}

#poiHeaderText {
  font-weight: bold;
  font-size: 30px;
}

#POI_toggle_formula {
  margin-bottom: 10px;
}
/* ######################################################################################## */
/* EDIT POPUP -> edit object/light menu */
.dragHeader {
  cursor: move;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.dragHeaderSub {
  cursor: move;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.editPopup {
  display: none;
  position: absolute;
  width: auto;
  background-color: white;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: solid #000;
  border-width: 2px;
}

.editHeader {
  margin-top: 5px;
  margin-bottom: 5px;
}

.editPopupLine {
  display: flex;
  margin-bottom: 10px;
}

.editPopupLineSpaceBetween {
  justify-content: space-between;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.editHolder {
  margin-right: 10px;
}

.inputColor {
  width: 100%;
}

.inputTextScale {
  width: 100px;
}

.inputBtnScale {
  width: 100px;
}
/* ######################################################################################## */
/* popup on canvas */
.miniPopup {
  position: absolute;
  margin: 0px auto;
  /*width: 200px;
    height: 150px;*/
  font-family: verdana;
  font-size: 13px;
  padding: 10px;
  background-color: rgb(240, 240, 240);
  border: 2px solid grey;
  z-index: 100000000000000000;
  display: none;
  pointer-events: none; /*ignore all interaction and pretend this isnt here*/
}
/* ######################################################################################## */
/* 3d popup */

#popup3d {
  background-color: rgb(240, 240, 240);
  border: 2px solid grey;
  position: absolute;
  display: none;
  z-index: 100000000000000001;
  font-size: 13px;
  padding: 10px;
  width: 300px;
  overflow: hidden;
  margin: 0;
}

#popup3dHeader {
  font-size: 20px;
  width: fit-content;
}

#popup3dX {
  margin: 0
}
